
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec

dist/
build/

# Selenium drivers
*.log

# Streamlit cache and logs
.streamlit/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
